/* RESET STYLE*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

/* MENU */

.logo{
    height: 100px;
    width: 100px;
}
.navbar-light .navbar-nav .nav-link {
    color: #0CB088;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{
    color: #0CB088
}

/* Portada */

.portada{
    background-color: #d4f8d4;
}

.portada h1{
    font-weight: bold; 
}

.portada__img{
    height: 500px;
}

.carousel{
    padding: 10px;
}

