/* RESET STYLE*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

/* MENU */

.logo{
    height: 100px;
    width: 100px;
}
.navbar-light .navbar-nav .nav-link {
    color: #0CB088;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{
    color: #0CB088
}

/* Portada */

.portada{
    background-color: #d8f6ea;
}

.portada h1{
    font-weight: bold; 
}

.portada__img{
    height: 500px;
}

.carousel{
    padding: 10px;
}

/* Habitaciones */

.habitaciones{
    padding: 10px;
}

.habitaciones h1, .habitaciones h2{
    font-weight: bold; 
}

.habitaciones__img1{
    width: 100%;
    height: 100%;
}

/* Instalaciones */

.instalaciones{
    background-color: #d8f6ea;
}

.instalaciones h1, .instalaciones h2{
    font-weight: bold; 
}

/* review */

.reviews_img{
    width: 100%;
}

.reviews h5{
    font-weight: bold; 
}

.card{
    border: 0px;
}

/* Precios */

.precios{
    background-color: #d8f6ea;
}


.table{
    background-color: white;
    width: 100%;
}

.precios h1{
    font-weight: bold;
}

.contactanos{
}
.mapa{
    width:100%; 
    height:400px;
}

.formulario{
    border: 1px;
}

.footer{
    background-color: #0CB088;
    padding: 10px;
}

.footer ul{
    list-style: none;
}

.footer a{
    text-decoration: none;
}

.nosotros__portada{
    background-color: #d8f6ea;
}

.portada__video{
    
    padding: 10px;
    width: 100%;
    height: 500px;
}

.portada__parrafo{
    padding: 20px;
}