@import "parciales/reset";
@import "parciales/header";
@import "parciales/portada";
@import "parciales/habitaciones";
@import "parciales/instalaciones";
@import "parciales/reviews";
@import "parciales/precios";
@import "parciales/contactanos";
@import "parciales/googleMap";
@import "parciales/footer";
@import "parciales/promociones";
@import "parciales/mixin";


@media(max-width:767px){
    .reverse{
        @include reverse(flex, column-reverse);
    }
    .button_promo{
        width: 100%;
        background-color: map-get($botones, boton_promo);
        border-color: map-get($botones, boton_promo);
    }
}


